<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722707888554-p6d979slugoge4s904jibp8rpkb1cttt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722707888554-p6d979slugoge4s904jibp8rpkb1cttt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722707888554-t9g3ocrd8a4ft2qmkaqppdqtflj90o4e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOtrKKV4i6XpScJDUij0clj9EVX79FxFw</string>
	<key>GCM_SENDER_ID</key>
	<string>722707888554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unitz.app.mobileadvisor</string>
	<key>PROJECT_ID</key>
	<string>unitz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>unitz-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722707888554:ios:b3480278b11dbe9c0453d3</string>
	<key>DATABASE_URL</key>
	<string>https://unitz-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>