name: stage ios

# Run this workflow every time a new commit pushed to your repository
on:
  push:
    branches:
      - "stage/ios"
    # tags:
    #   - "v*"
# defaults:
#   run:
#     working-directory: ./your_working_dir
jobs:
  stage-ios:
    runs-on: macOS-latest
    strategy:
      matrix:
        destination: ['platform=iOS Simulator,OS=13.1,name=iPhone 11']
    env:
      working-directory: ./ws/packages/unitz-mobile-advisor
    steps:
      - name: setup node v12
        uses: actions/setup-node@v2
        with:
          node-version: '12'
          check-latest: true
      - name: clone workspace
        uses: actions/checkout@v2
        with:
          repository: Unitz-Co/ws-app-mobile
          path: ws
          token: ${{ secrets.PAT_TOKEN }}
          persist-credentials: true
      - name: clone env
        uses: actions/checkout@v2
        with:
          repository: Unitz-Co/env-app-mobile
          path: config/env-app-mobile
          token: ${{ secrets.PAT_TOKEN }}
          persist-credentials: true
      - name: clone credentials
        uses: actions/checkout@v2
        with:
          repository: Unitz-Co/credentials
          path: config/credentials
          token: ${{ secrets.PAT_TOKEN }}
          persist-credentials: true

      - name: checkout submodule
        run: |
          cd ws
          git config --file .gitmodules --get-regexp url | while read url; do
            git config --file=.gitmodules $(echo "$url" | sed -E "s/git@github.com:|https:\/\/github.com\//https:\/\/${{ secrets.PAT_TOKEN }}:${{ secrets.PAT_TOKEN }}@github.com\//")
          done
          git submodule sync
          git submodule update --init --recursive
      - name: retrive certs and env
        working-directory: ${{env.working-directory}}
        run: |
          yarn config:ios
      - name: build modules
        working-directory: ${{env.working-directory}}
        run: |
          yarn install
          yarn nuke:modules
      - name: install pod
        working-directory: ${{env.working-directory}}
        run: |
          cd ios
          pod install
      - name: Create IPA Build
        working-directory: ${{env.working-directory}}
        env:
          APP_IDENTIFIER: ${{ secrets.APP_IDENTIFIER }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          ITC_TEAM_ID: ${{ secrets.ITC_TEAM_ID }}
          GIT_REPO_URL: ${{ secrets.GIT_REPO_URL }}
          CI_KEYCHAIN_NAME: ${{ secrets.CI_KEYCHAIN_NAME }}
          CI_KEYCHAIN_PASSWORD: ${{ secrets.CI_KEYCHAIN_PASSWORD }}
          DEVELOPER_TEAM_ID: ${{ secrets.DEVELOPER_TEAM_ID }}
          FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
        run: |
          cd ios
          fastlane firebase
      - name: upload artifact to Firebase App Distribution
        working-directory: ${{env.working-directory}}
        run: |
          yarn dist:ios:fib --app ${{secrets.FIREBASE_IOS_APP_ID}} --groups testers --token ${{secrets.FIREBASE_TOKEN}}
      - uses: iRoachie/slack-github-actions@v2.3.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        with:
          status: ${{ job.status }}
        if: ${{ always() }}
